* reset {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background: linear-gradient(90deg, #4f9be5 0%, #ffffff 100%);
    font-family: Arial, Helvetica, sans-serif;
}