:root {
  /* Global variables */
  --font-family: Arial, Helvetica, sans-serif;

  --color-bg: #fff;
  --color-primary: #4f46e5;
  --color-primary-hover: #4338ca;
  --color-text: #333;
  --color-border: #ccc;

  --radius: 8px;
  --shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

/* Box container */
.registration-box {
  background: var(--color-bg);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: var(--shadow);
  width: 100%;
  max-width: 350px;
  font-family: var(--font-family);
}

.registration-box h2 {
  text-align: center;
  margin-bottom: 1.2rem;
}

.registration-box label {
  font-weight: bold;
  text-align: center;
  display: block;
  margin-bottom: 0.5rem;
}

/* Input groups */
.input-group,
.textarea-group,
.radio-group,
.select-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0;
  width: 100%;
  margin-bottom: 20px;
}

.select-group,
::picker(select-group) {
  appearance: base-select;
  overflow: hidden;
  display: block;
  margin: 0px 0;
  width: 100%;
  margin-bottom: 20px;
}

.select-group > option {
  border: none;
  background: #e8e8ee;
  margin: 0.4rem 0;
}

option:checked {
  background: #c7c7c7;
}

.input-group {
  gap: 15px;
}

.input-group input,
.select-group select,
.textarea-group textarea {
  width: 100%;
  /* max-width: 320px; */
  padding: 10px;
  font-size: 1rem;
  border: 1px solid var(--color-border);
  border-radius: var(--radius);
  box-sizing: border-box;
  font-family: var(--font-family);
}

/* Textarea */
.textarea-group textarea {
  min-height: 80px;
  resize: vertical;
  font-family: var(--font-family);
  line-height: 1.4;
  color: var(--color-text);
  background: #fdfdfd;
}

/* Radio buttons */
.radio-group .gender,
.radio-group .favorite-sport {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 14px;
}

.radio-group label {
  font-weight: normal;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

/* Button */
.registration-box button {
  width: 100%;
  padding: 12px;
  background-color: var(--color-primary);
  color: #fff;
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background 0.2s ease;
  font-family: var(--font-family);
  margin-bottom: 10px;
}

.registration-box button:hover {
  background-color: var(--color-primary-hover);
}

/* Responsive */
@media (max-width: 480px) {
  .registration-box {
    padding: 1.5rem;
    max-width: 95%;
  }
}
