/* Container */
section {
  background: #ffffffcc;
  padding: 20px 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  width: 600px;
}

/* Header top-left */
header {
    padding: 20px;
    margin-top: 10px;
    background: #ffffffcc;
    width: 100%;
    text-align: center;
}

header h1 {
  font-size: 1.8rem;
  color: #2b5ea8;
}

/* Center main content */
main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

section {
  background: #ffffffcc;
  padding: 20px 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  width: 600px;
}

/* Navigation */
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

nav a {
  text-decoration: none;
  color: #2b5ea8;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 6px;
  transition: background 0.3s, color 0.3s;
}

nav a:hover {
  background: #2b5ea8;
  color: #fff;
}

/* Articles */
article {
  display: none;
  text-align: center;
}

article.active {
  display: block;
}

article h2 {
  color: #2b5ea8;
  margin-bottom: 10px;
}

article p {
  line-height: 1.5;
  margin-bottom: 10px;
  color: #333;
  
}

.image {
  flex: 1;
}

.image img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

footer {
  margin-top: 20px;
  background: #ffffffcc;
  padding: 15px 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  width: 100%;
  text-align: center;
  color: #2b5ea8;
  font-weight: bold;
}